body {
    background-color: aquamarine;
}

h1 {
    width: 100%;
    text-align: center;
}

h1, tfoot {
    background-color: cornflowerblue;
}

thead {
    font-weight: bold;
}

table {
    background-color: bisque;
    text-align: center;
    padding-top: 30px;
    width: 100%;
    font-size: 30px;
    border: 4px solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

tbody td {
    border-bottom: 3px solid;
    border-left: 1px solid;
}