header {
    height: 100px;
    width: 100%;
    float: left;
    background-color: #fe0000;
}

nav {
    height: 25px;
    width: 100%;
    float: left;
    background-color: #007fff;
}

section {
    width: 65%;
    height: 507px;
    float: left;
    background-color: #fec6c5;
}

aside {
    width: 33%;
    height: 507px;
    float: right;
    background-color: #fe80fe;
}

footer {
    height: 25px;
    width: 100%;
    float: left;
    background-color: #80ff00;
}